<!-- partial for the customer overview page, shows a list of customers -->

<div class="row">
	<div class="col-md-12">
		<h2>Customer Overview</h2>
	</div>
	<div class="col-md-6">
		<form class="form-inline">
			<input ng-model="searchString" type="text" class="form-control">
			<button ng-click="search()" ng-disabled="!searchString" type="submit"
				class="btn btn-primary"><span style="margin-right: 5px;" class="glyphicon glyphicon-search"></span>Search</button>
			<button ng-click="clearSearch()" ng-disabled="!filteredResults"
				type="submit" class="btn btn-default">Clear</button>
			<a class="btn btn-default" href="#/customer/new">New customer</a>
		</form>
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-md-12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Customer name</th>
					<th>Company</th>
					<th>Email</th>
					<th>Fon</th>
					<th>Created</th>
					<th colspan="2">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in customers">
					<td>{{customer.id}}</td>
					<td>{{customer.firstName}} {{customer.lastName}}</td>
					<td>{{customer.company.name}}</td>
					<td>{{customer.email}}</td>
					<td>{{customer.phone}}</td>
					<td>{{ customer.createDate | date }}</td>
					<td><a href="#/customer/edit/{{customer.id}}" title="edit" class="btn btn-xs btn-default"><i
							class="glyphicon glyphicon-edit"></i></a>&nbsp;<a class="btn btn-xs btn-default" ng-click="deleteCustomer(customer.id)"
						title="delete"><i class="glyphicon glyphicon-remove"></i></a>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
